events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    upstream frontend {

        {% for host in groups['webservers'] %}
        server {{ hostvars[host].ansible_host }}:{{ port_number }};
        {%endfor%}
    }
    
    server {
        listen 80;
        location / {
            proxy_pass http://frontend;
        }
    }
}
